.input{
    height: 50px;
    width : 90%;
    border-radius:5px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline:2px solid black; */
}
input[type=text]{
    background: none;
    border: 0;
    flex: 1;
    margin: 10px;
    outline: none;
    height:50px;
}
button
 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    outline: none;
    border-radius :5px;
    cursor: pointer;
  }